h1 {
    text-align: center;
}



#ticBoard {
    border: 2px solid black;
    margin: auto;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ticBox {
    border: 2px solid black;
}